EBUILD_LOG_LEVEL=debug
EBUILD_PORT=3000
EBUILD_DATABASE_DSN="host=db user=edgetx password=psw dbname=cloudbuild port=5432 sslmode=disable"
EBUILD_STORAGE_PATH=/home/rootless/src/static/firmwares
EBUILD_DOWNLOAD_URL=http://localhost:3000/firmwares
