LOG_LEVEL=debug
PORT=3000
DATABASE_URL="host=db-test user=edgetx password=psw dbname=cloudbuild port=5432 sslmode=disable"
ARTIFACT_STORAGE_S3_BUCKET=edgetx-staging
ARTIFACT_STORAGE_TYPE=FILE_SYSTEM_STORAGE
FILE_SYSTEM_STORAGE_PATH=./temp
FILE_SYSTEM_STORAGE_DOWNLOAD_URL=http://localhost:3000
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=eu-central-1
BUILD_IMAGE="ghcr.io/edgetx/edgetx-commit-tests:latest"
SOURCE_REPOSITORY=https://github.com/EdgeTX/edgetx.git
